<!DOCTYPE html>
<html>
<head>
  <title>Myquiz1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  |
  <%= link_to "New Quiz", new_quiz_path %>
  |
  <%= link_to "Find", find_path %>
  <br>
  <br>
  <br>

  <div style="height:50px; width:50px; background-color:lightgrey ; border-radius:5px">
  </div>
  <p>Supporter</p>
  <br>
<%= yield %>

</body>
</html>
